.first {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
   
    width: 700px;
    height: 250px;
    align-items: center; 
    
}
.second {
    margin-top: 3px;
   
    display: flex;
    justify-content: center;
    flex-direction: row;
   padding-top: 1px;
    width: 700px;
    height: 300px;
    align-items: center; 
    
}

 img {
    width: 200px;
    height: 150px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;   
}

.product {
        margin: 3px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 200px;
        height: 250px;
        padding: 3px;
        border-radius: 10px;
        text-align: center;
        font-family: arial;
        background-color: black;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
    



h2,p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}


.fa {
    color: white;
}


.checked {
    color: orange;
  }
 
